<article id="stores_index" class="h100p">
  <div class="flex align_items_stretch mh100p">
    <aside class="book_sidebar">
      <%= render 'books/sidebar' %>
    </aside>
    <div class="w100p p10">
      <h2 class="flex center">
        <div class="page_title underlined pink">
          <p>
            店舗一覧
          </p>
        </div>
      </h2>
      <section id="stores_new">
        <div class="flex w100p center">

          <div class="separated_area inlineblock">
            <h3 class="caption highlighted">新しく店舗を追加する</h3>
            <%= form_with(model: Store.new, url: book_stores_path(@book_id), local: true ) do |f| %>
            <div class="separated_area_content">
              <div class="field">
                <p>
                  <%= f.label :name %>
                </p>
                <p>
                  <%= f.text_field :name , size: 40 %>
                </p>
              </div>
              <div class="field">
                <p>
                  <%= f.label :genre_id %>
                </p>
                <p>
                  <%= f.collection_select :genre_id, Genre.all, :id, :name %>
                </p>
              </div>
              <div class="field">
                <p>
                  <%= f.label :numbering %>
                </p>
                <p>
                  <%= f.number_field :numbering, size: 6 %>
                </p>
              </div>
              <!-- <div class="field">
                <p>
                  <%= f.label :is_income %>
                </p>
                <p>
                  <%= f.select :is_income, [ ['', '2'], ['支出', false], ['収入', true] ] %>
                </p>
              </div> -->
              <div class="action">
                <p class="right">
                  <%= f.submit '追加' %>
                </p>
              </div>
            </div> <!-- class="stores_new_form_content" -->
            <% end %>
          </div> <!-- class="separated_area" -->
        </div>
      </section>
      <section id="stores_list">
        <div class="flex center mt20">
          <table class="table blue">
            <thead>
              <tr>
                <th>
                  <%= t("activerecord.attributes.store.name") %>
                </th>
                <th>
                  <%= t("activerecord.attributes.store.genre_id") %>
                </th>
                <th>
                  <%= t("activerecord.attributes.store.is_income") %>
                </th>
                <th>
                  <%= t("activerecord.attributes.store.numbering") %>
                </th>
                <% if current_user.admin %>
                <th>
                  個数
                </th>
                <% end %>
                <th>-</th>
                <th>-</th>
              </tr>
            </thead>
            <tbody>
              <% @stores.each do |store| %>
              <tr>
                <%= form_with(model: store, local: true, url: book_store_path(@book_id, store.id), method: :patch, class: 'store_edit_form') do |f| %>
                <td>
                  <%= f.text_field :name, class: 'store_name' %>
                </td>
                <td class="stores_genre_cell">
                  <%= f.collection_select :genre_id, Genre.where(:income => store.is_income), :id, :name %>
                </td>
                <td>
                  <!-- <%= f.select :is_income, [ ['支出', false], ['収入', true] ] %> -->
                  <%= 
                    if store.is_income
                      "収入"
                    else
                      "支出"
                    end 
                  %>
                </td>
                <td>
                  <%= f.number_field :numbering, size: 4 %>
                </td>
                <% if current_user.admin %>
                <td>
                  <%= 
                    if store.is_income
                      @book.incomes.where(store_id: store.id).length
                    else
                      @book.receipts.where(store_id: store.id).length
                    end
                  %>
                </td>
                <% end %>
                <td>
                  <%= f.submit '変更' %>
                </td>
                <td>
                  <% if store.locked == false %>
                  <%= link_to book_store_path(@book_id, store.id), method: :delete do %>
                  <button>削除</button>
                  <% end %>
                  <% else %>
                  -
                  <% end %>
                </td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
  
</article> <!-- id="stores_index" -->