<article id="books_index" class="mt10">
  <h2 class="flex center">
    <div class="page_title underlined pink">
      <p>
        家計簿を選ぶ
      </p>
    </div>
  </h2>
  <div class="flex center">
    <table class="table blue">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.book.name") %></th>
          <th>公開する</th>
          <th>-</th>
          <th>-</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
        <tr class="books_index_name_row">
          <td class="books_index_names" data-bookid="<%= book.id %>">
            <span class="books_index_name_area active">
              <%= link_to edit_book_path(book.id) do %>
                <span class="books_index_book_name"><%= book.name %></span>
              <% end %>
            </span>
            <span class="books_index_edit_name_input_area">
              <input value="<%= book.name %>" class="books_index_edit_name_input">
            </span>
          </td>
          <td>
            <%= 
              flag = book.allow_show
              check_box 'allow_show', 'freezeflag', {:checked => flag, class: 'allow_show_checkbox'}, true, false
            %>
          </td>
          <td>
            <p class="commonbtn books_index_edit_name_btn">名前変更</p>
          </td>
          <td>
            <%= link_to book_path(book.id), method: :delete, class: 'nounderline' do %>
              <p class="commonbtn confirmDeleteOnClick">削除</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>